{% extends "base.html" %}
{% block title %}Stats{% endblock %}
{% block nav %}
{% include "nav_sponsors.html" %}
{% endblock %}
{% block content %}
<h1>This page is for requests obtained by an influencer:</h1>
{% if advertisements %}
    <form method="post" action="{{ url_for('sponsors_app.rrequests') }}">
        <table style="width:100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th style="border: 1px solid black; padding: 8px;">Ad Name</th>
                    <th style="border: 1px solid black; padding: 8px;">Campaign Name</th>
                    <th style="border: 1px solid black; padding: 8px;">Influencer Name</th>
                    <th style="border: 1px solid black; padding: 8px;">Select</th>
                </tr>
            </thead>
            <tbody>
                {% for ad in advertisements %}
                    <tr>
                        <td style="border: 1px solid black; padding: 8px;">{{ ad.ad_name }}</td>
                        <td style="border: 1px solid black; padding: 8px;">{{ ad.campaign_name }}</td>
                        <td style="border: 1px solid black; padding: 8px;">{{ ad.inf_name }}</td>
                        <td style="border: 1px solid black; padding: 8px; text-align: center;">
                            <input type="checkbox" name="selected_requests" value="{{ ad.request_id }}">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class = 'btn btn-primary'>Submit</button>
    </form>
{% else %}
    <h3>No requests available</h3>
{% endif %}
{% endblock %}
