html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    overflow-y: scroll;
}


header {
    color: #dc2424;
    padding: 10px;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    height: calc((100% - 60px) / 3);
    text-align: center;
}

.text-section {
    background-color: orange;
    flex: 1;
}

.image-section {
    background-color: antiquewhite;
    flex: 1;
}

img {
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    width: 100%;
}
.icon {
    vertical-align: middle;
}
