{% extends "base.html" %}
{% block title %}IESCP{% endblock %}
{% block nav %}
  {% include 'nav.html' %}
{% endblock %}
{% block content %}
<section class="py-3 py-md-2 py-xl-1">
  <div class="container overflow-hidden">
    <div class="row gy-4 gy-lg-0">
      <div class="col-15 col-lg-4">
        <div class="card border-0">
          <figure class="card-img-top m-0 overflow-hidden bsb-overlay-hover">
            <a href={{url_for('influencers_app.influencer')}}>
              <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy" src="static/images/influencer.jpeg">
            </a>
          </figure>
          <div class="card-body border bg-white p-4">
            <h2 class="card-title h4 fw-bold mb-3">Influencer</h2>
            <p class="card-text text-secondary">Celebrity</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card border-0">
          <figure class="card-img-top m-0 overflow-hidden bsb-overlay-hover">
            <a href="{{url_for('sponsors_app.sponsor')}}">
              <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy" src="static/images/sponsor.jpeg">
            </a>

          </figure>
          <div class="card-body border bg-white p-4">
            <h2 class="card-title h4 fw-bold mb-3">Sponsor</h2>
            <p class="card-text text-secondary">Company</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card border-0">
          <figure class="card-img-top m-0 overflow-hidden bsb-overlay-hover">
            <a href="{{url_for('admin_app.admin')}}">
              <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy" src="static/images/admin.jpeg">
            </a>

          </figure>
          <div class="card-body border bg-white p-4">
            <h2 class="card-title h4 fw-bold mb-3">Admin</h2>
            <p class="card-text text-secondary">Site Admin</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
