{% extends "base.html" %}
{% block title %}Search Results{% endblock %}
{% block nav %}
{% include "nav_influencer.html" %}
{% endblock %}
{% block content %}
<div class="container">
    {% if campaigns %}
    <h5>Search Results for Campaigns:</h5>
    <div class="row">
        {% for campaign in campaigns %}
        <div class="col-md-4 mb-4">
            <div class="card campaign-card" style="background-image: url('data:image/jpeg;base64,{{ lst2[loop.index0] }}'); background-size: cover; background-position: center;">
                <div class="card-body" style="background-color: rgba(0, 0, 0, 0.5); color: #fff;">
                    <h5 class="card-title">{{ campaign.campaign_name }}</h5>
                    <p class="card-text">Budget: <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z"/>
                </svg>{{ campaign.budget }}</p>
                    <form action="{{ url_for('influencers_app.ccampaign_details') }}" method="POST" style="display: inline;">
                        <input type="hidden" name="campaign_id" value="{{ campaign.campaign_id }}">
                        <button type="submit" class="btn btn-primary details-button">Details</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h5>No campaigns found</h5>
    {% endif %}

    {% if influencers %}
    <h5>Search Results for Influencers:</h5>
    <div class="row">
        {% for influencer in influencers %}
        <div class="col-md-4 mb-4">
            <div class="card influencer-card" style="background-image: url('data:image/jpeg;base64,{{ lst1[loop.index0] }}'); background-size: cover; background-position: center;">
                <div class="card-body" style="background-color: rgba(0, 0, 0, 0.5); color: #fff;">
                    <h5 class="card-title">{{ influencer.influencer_name }}</h5>
                    <p class="card-text">Email: {{ influencer.email }}</p>
                    <form action="{{ url_for('influencers_app.iinfluencer_details') }}" method="POST" style="display: inline;">
                        <input type="hidden" name="influencer_id" value="{{ influencer.influencer_id }}">
                        <button type="submit" class="btn btn-light details-button">Details</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h5>No influencers found</h5>
    {% endif %}
</div>
{% endblock %}
